.sda body {
  font-family: arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;
}
.sda table {
  border-collapse: collapse;
}
.sda table.truetable {
  border-style: 1;
}
.sda td {
  border-style: none;
}
.sda th {
  background-color: #93a1a1;
  color: #fdf6e3;
  border: 1px solid #073642;
}
.sda tr.odd td {
  background-color: #eee8d5;
}
.sda a {
  color: #268bd2;
}
.sda div#oracleATGbrand {
  font: 17px/33px Arial, Sans-Serif;
  height: 33px;
  padding-left: 135px;
  background: #fdf6e3;
}
.sda input[type="text"],
.sda select,
.sda option,
.sda textarea {
  background-color: #fdf6e3;
}
.sda .CodeMirror-scroll {
  background-color: #fdf6e3;
}
