body.sda {
  font-family: arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;
}
.sda table {
  border-collapse: collapse;
}
.sda table.truetable {
  border-style: 1;
}
.sda td {
  border-style: none;
}
.sda th {
  background-color: #eee8d5;
  border-style: none;
}
.sda tr.odd td {
  background-color: #eee8d5;
}
.sda a {
  color: #268bd2;
}
.sda div#oracleATGbrand {
  color: #7B7B7B;
  font: 17px/33px Arial, Sans-Serif;
  height: 33px;
  padding-left: 135px;
  background: url('/dyn/admin/atg/dynamo/admin/images/oracle.png') no-repeat left top;
}
